advancecomp-1.15/Makefile
advancecomp-1.15/autom4te.cache
advancecomp-1.15/config.h
advancecomp-1.15/config.log
advancecomp-1.15/config.status
advancecomp-1.15/stamp-h1
.gitignore*
.tmp_versions*
*.diff
*.patch
